<!DOCTYPE HTML>
<html ng-app='teamDataApp'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

<body>
    <h1 class='heading'> Search Teams </h1>
    <input id="input" ng-model='input'> </input>

    <hr class='table'>
    <div ng-controller='controller'>
        <div class='output' ng-class='input' ng-repeat='team in teamData'>
            <p>{{ team.name }}</p>
        </div>
    </div>
</body>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script type='text/javascript' src='teamdata.json'></script>
<script src='module.js'></script>
<script src='service.js'></script>
<script src='controller.js'></script>
<link rel="stylesheet" type="text/css" href="index.css">


</html>